<div class="card">
    <div class="card-body">
        <h2 class="card-title">Buscar Chave</h2>
        <div class="input-group mb-3">
            <input type="text" 
                   class="form-control" 
                   placeholder="Digite a chave" 
                   [(ngModel)]="searchKey" />
            <div style="display: flex; gap: 40px; margin-top: 20px;">
             <button class="btn btn-primary" (click)="searchByIndex()">Buscar com Índice</button>
             <button class="btn btn-secondary" (click)="searchByTableScan()">Table Scan</button>
            </div>
        </div>
    </div>
</div>
