<div class="card" style="margin-bottom: 90px;">
  <div class="card-body">
    <h2 class="card-title">Estatísticas</h2>
    
    <div class="row" >
      <div class="col-md-4">
        <div class="stats-info">
          <h4>Taxa de Colisões</h4>
          <p class="stat-value">{{collisionRate.toFixed(2)}}%</p>
          <small class="text-muted">Porcentagem de entradas que colidiram</small>
        </div>
        
        <div class="stats-info mt-4">
          <h4>Taxa de Overflow</h4>
          <p class="stat-value">{{overflowRate.toFixed(2)}}%</p>
          <small class="text-muted">Porcentagem de entradas em overflow</small>
        </div>
      </div>
      
    </div>
  </div>
</div>
